<hr/>
<footer>
    <p>Teknologi yang saya gunakan untuk membangun aplikasi ini</p>
    <div class="mb-2">
        <a class="btn btn-light" href="https://www.tensorflow.org/">
            <img src="{{ url_for('static', filename='images/Tensorflow_logo.svg') }}" alt="Tensorflow" height="25"/>
        </a>
        <a class="btn btn-light" href="https://flask.palletsprojects.com/en/1.1.x/">
            <img src="{{ url_for('static', filename='images/Flask_logo.svg') }}" alt="Flask" height="25"/>
        </a>
        <a class="btn btn-light" href="https://getbootstrap.com/">
            <img src="{{ url_for('static', filename='images/Bootstrap_logo.svg') }}" alt="Bootstrap" height="25"/>
        </a>
    </div>
    <small>16 April 2021 - Muhamad Azizi</small>
</footer>